body {
    position: relative;
}

#title {
    text-align: center;
    color: #000000;
    font-size: x-large;
    font-weight: bold;
}

#title80 {
    width: 69%;
   float: left;
    text-align: center;
    color: #000000;
    font-size: x-large;
    font-weight: bold;
}

#icon {
    width: 19%;
}

#leftcolumncolor {
    width: 20%;
    background-color: #77BBFF;
}


#subtitle {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

#lefthalf {
    float: left;
    width:49%;
}

#lefttopcorner {
    float: left;
    width:20%;
}

#rightcornertitle {
    float: left;
    width:79%;
}

#rightcornercontent {
    float: left;
    width:79%;
}

#righthalf {
    float: left;
    width: 49%;
    text-align: center;
}

#a {
    float: left;
    width: 25%;
    text-align: center;
}

#b {
    float: left;
    width: 25%;
    text-align: center;
}

#c {
    float: left;
    width: 25%;
    text-align: center;
}

#d {
    float: left;
    width: 24.5%;
    text-align: center;
}

#center {
    width: 99%;
    text-align: center;

}

#content {
     width: 99%;
   text-align:center;
   font-weight:400;
   font-size:small;
}

#label {
    float: left;
    width: 39%;
    text-align: right;
    line-height: 26px;
    height: 305px;

}

#div {    
    height: 349px;
}

#textbox {
    float: left;
    width: 49%;
    text-align: left;
    height: auto;
}

#footer {
    text-align: center;
    clip: rect(auto, auto, auto, auto);
}

#employeeloginright {
     width: 70%;
   text-align:center;
   font-weight:400;
   font-size:small;
}

#masterright {
    width: 98%;
    text-align:right;
}

#createbankaccountfiller {
    width: 6%;
    float: left;

}

#createbankaccountfiller2 {
    width: 4%;
    float: left;

}

#accountsubtitle {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    float: left;
    width: 60%;
    background-color: #3366CC;
}

#accountsubtitleleft {
    text-align: center;
    font-size: medium;
    float:left;
    font-weight: bold;
    width: 20%;

}

